@import bootstrap
@import url('https://fonts.googleapis.com/css?family=Roboto')

html, body
  width: 100%
  height: 100%
  overflow: hidden

$background: #6fa067
$square: #80b977
$small-width: 890px

body
  color: white
  background-color: $background
  font-family: Roboto,sans-serif

.wrapper
  min-height: 100%
  min-width: 100%
  font-size: .8rem

#chart
  position: absolute
  //padding-left: 3.3em
  //padding-right: 3.3em

#square
  overflow: hidden
  width: 95vw
  height: 95vw
  transition: .1s
  padding: 0
  background-color: $square
  border-radius: 50%
  //font-size: 12em

  .title
    font-size: 5em

    span:not(:empty)
      border: .15em solid
      padding: .3em .5em
      border-radius: .45em

  .value
    padding-top: .2em
    font-size: 12em
    &:after
      content: '$'

  .time
    font-size: 4em

  &.down
    background-color: rgba(6, 6, 6, 0.15)

.spinner
  opacity: .3
  position: absolute
  width: 100%
  height: 100%
  border-radius: 50%
  border: .2rem solid
  border-color: white transparent transparent transparent

@media (min-width: $small-width)

  #square
    width: 80vw
    height: 80vw

  .currency-changer select.form-control
    font-size: 2em

@media (min-width: $small-width) and (orientation: landscape)

  #square
    width: 80vh
    height: 80vh

@media (max-height: $small-width - 1) and (orientation: landscape)

  #square
    width: 95vh
    height: 95vh
  .wrapper
    font-size: 1.5vh

@media (max-width: $small-width - 1) and (orientation: portrait)

  #square
    width: 95vw
    height: 95vw
  .wrapper
    font-size: 1.2vw

.currency-changer
  position: absolute
  height: 0
  top: .5rem
  right: .5rem

  select.form-control
    border: 0 none
    background: linear-gradient(to bottom, #fff, #eee)
    padding: .1em
    border-radius: .2em
    outline: none
    font-size: 1em
    &>option
      font-size: .9em
    &:hover,
    &:active
      background: linear-gradient(to bottom, #eee, #fff)
