@import bootstrap
@import url('https://fonts.googleapis.com/css?family=Roboto')

html, body
  width: 100%
  height: 100%
  overflow: hidden

$background: #6fa067
$square: #80b977
$small-width: 890px

body
  color: white
  background-color: $background
  font-family: Roboto,sans-serif

.wrapper
  min-height: 100%
  min-width: 100%

#chart
  position: absolute
  //padding-left: 3.3rem
  //padding-right: 3.3rem

#square
  overflow: hidden
  width: 95vw
  height: 95vw
  transition: .1s
  padding: 0
  background-color: $square
  border-radius: 50%
  font-size: 12vw

  .title
    font-size: 5vw

    span:not(:empty)
      border: 5px solid
      padding: .6rem 1rem
      border-radius: 15px

  .value
    padding-top: 1.4rem
    &:after
      content: '$'

  .time
    font-size: 4vw

  &.down
    background-color: rgba(6, 6, 6, 0.15)

.spinner
  opacity: .3
  position: absolute
  width: 100%
  height: 100%
  border-radius: 50%
  border: 4px solid
  border-color: white transparent transparent transparent

@media (min-width: $small-width)

  #square
    width: 80vw
    height: 80vw
    .title span:not(:empty)
      padding: .2em

@media (min-width: $small-width) and (orientation: landscape)

  #square
    width: 95vh
    height: 95vh

@media (max-width: $small-width - 1) and (orientation: portrait)

  #square
    width: 80vh
    height: 80vh

.currency-changer
  position: absolute
  height: 0
  top: 0.5rem
  right: 0.5rem
