doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="yandex-verification" content="61c3459b6ccb6400")
    title
    link(href="/css/app.css?v" + ver rel="stylesheet")
    link(href="/css/loader.css" rel="stylesheet")
    include favicons
  body
    #wrapper.wrapper.d-flex
      .currency-changer
        //a.btn Change
        select.form-control(v-model="currency")
          option(:selected="window.location.hash == item", v-for="item in currencyList", v-text="item")
      .mx-auto.align-self-center

        #square.col-12.d-flex(:class="{'down': down}")

          .ld.ld-cycle.spinner(v-if="spinner")
          .mx-auto.align-self-center(style='z-index: 1')
            .title.text-center
              span(v-text="currencyTitle")
            .value(v-if="value > 0" v-text="value.toLocaleString()")
            .time.text-center(v-text="time")

          canvas#chart.mx-auto.align-self-center

    script(src="https://cdn.jsdelivr.net/npm/vue")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.min.js")
    script(defer async src="/js/app.js?v" + ver)
